/* Main CSS Styles */
html, body, div, p, article {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: Tahoma;
	background-color: #222;
	padding: 40px;
}

div.page {
	margin: 0 auto;
	background-color: white;
	/*padding-top: 20px;*/
	border-radius: 7px;
	height: 500px;
	width: 1000px;
}

.page header {
	font-size: 1.9em;
	text-align: center;
	background-color: #D4AF6A;
	color: #FFF;
	border-radius: 7px 7px 0 0;	
	padding: 20px;
	/*margin: 10px 0;*/
}

.page article {
	margin: 0 80px;
}

.page p:first-child {
	font-weight: bold;
	font-size: 1.5em;
	margin: 25px 0;
	padding-left: 40px;
}

.page p {
	/*text-align: center;*/
	padding-left: 90px;
}

#Union {
	margin: 50px 80px;
	/*padding: 5px;*/
	
}

#Union div {
	text-align: center;
	border: 2px solid black;
	border-radius: 50%;
	padding: 5px 10px;
	/*width: 40px;
	height: 40px;*/
	display: inline-block;
	margin: 5px;
}

#Canvas {
	margin: auto;
	/*padding-left: 30%;*/
}
